html,
body {
    margin: 0;
    padding: 0;
}

.wrapper {
    position: relative;
    width: 100%;
}

.container {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    will-change: tranform;
}
.container--horizontal {
    flex-direction: row;
    min-height: 100vh;
    width: auto;
}

.container_item {
    width: 80vw;
    height: 60vh;
    background: lightgray;
    margin: 2vw 0;
    border-radius: 20px;
}
.container_item--horizontal  {
    width: auto;
    height: 60vh;
    margin: 0 2vw;
    flex: none;
    overflow: hidden;
}

.container_img {
    object-position: center;
}